PORTAL_ADMIN_PASSWORD=ChangeMe123!
PORTAL_COOKIE_SECURE=1
PORTAL_COOKIE_SAMESITE=lax
PORTAL_PNL_API_URL=http://127.0.0.1:8001
PORTAL_PNL_WS_URL=ws://127.0.0.1:8001
PORTAL_PNL_DIST_PATH=../../ProfitsNLosses/dist
PORTAL_FNUP_API_URL=http://127.0.0.1:8002
PORTAL_FNUP_DIST_PATH=../../FoldersNUsersParser/dist
